.itemLabel {
  display: flex;
  align-items: center;
  gap: 4px;
  width: 100%;
}

.itemLabelChevron {
  margin-left: auto;
}

.backButtonIcon {
  margin-right: 4px;
}

.divider {
  display: block;
  margin: 6px 40% 6px 40%;
  width: auto;
  height: 1px;
  opacity: 0.6;
  background-color: var(--theme-dropdown-menu-text);
}

.menu {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  padding: 12px 6px;
  visibility: hidden;
  color: var(--theme-dropdown-menu-text);
  background-color: var(--theme-dropdown-menu-backfull);
  transform: translateX(100%);
  animation: hide 0.1s ease-out;
}

.menu.isOpen {
  visibility: visible;
  z-index: 3;
  transform: translate(0);
  animation: show 0.1s ease-out;
}

@keyframes show {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes hide {
  0% {
    transform: translateX(0);
    visibility: visible;
  }
  100% {
    transform: translateX(100%);
    visibility: hidden;
  }
}
