.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px 24px 80px 24px;
  margin: 0 auto;
}

@media (min-width: 48rem) {
  .content {
    max-width: 768px;
  }
}

@media (min-width: 62rem) {
  .content  {
    max-width: 992px;
  }
}

.title {
  display: block;
  align-self: flex-start;
  margin-bottom: 12px;
  font-size: 1.5rem;
  font-weight: bold;
}

.title::after {
  content: '';
  display: block;
  height: 4px;
  background-color: var(--theme-elements-emphasys);
  border-radius: 4px;
  transform: rotate(-1.2deg);
}

.posts {
  display: grid;
  grid-template-columns: 1fr;
  row-gap: 60px;
  column-gap: 90px;
  margin-top: -60px;
  padding: 0px 20px 100px 20px;
}

@media (min-width: 48rem) {
  .posts {
    grid-template-columns: repeat(auto-fill, minmax(20rem, 1fr));
  }
}

.section {
  display: grid;
  align-items: flex-start;
  justify-items: center;
  gap: 16px;
  grid-template-columns: 1fr;
  grid-template-rows: min-content 1fr min-content;
  grid-template-areas: 'title' 'description' 'link' 'side';
  margin-bottom: 100px;
}

@media (min-width: 48rem) {
  .section {
    grid-template-columns: 3fr 3fr;
    grid-template-areas:
      'title side'
      'description side'
      'link side';
  }
}

.sectionReverse {
  composes: section;
}

@media (min-width: 48rem) {
  .sectionReverse {
    grid-template-areas:
      'side title'
      'side description'
      'side link';
  }
}

.sectionDescription {
  grid-area: description;
  display: flex;
  flex-direction: column;
  gap: 14px;
  justify-self: start;
}

.sectionTitle {
  composes: title;
  grid-area: title;
  justify-self: start;
}

.sectionLink {
  grid-area: link;
  justify-self: start;
}

.sectionSideLink {
  grid-area: side;
  align-self: center;
}

.sectionImage {
  grid-area: side;
  max-width: 281px;
}
