.container {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  margin-top: -20px;
}

.title {
  position: fixed;
  top: 16px;
  left: 20px;
  z-index: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
  font-size: 1.4rem;
  color: var(--theme-header-text);
  pointer-events: none;
  user-select: none;
  opacity: 0;
}

@media (min-width: 62rem) {
  .title {
    font-size: 2rem;
  }
}

.titleImage {
  width: 6em;
  height: auto;
}

.titleText {
  font-size: 1.4em;
  line-height: 0.8em;
}

.paintingImage {
  z-index: 1;
  align-self: flex-end;
  width: 48vw;
  height: auto;
  margin-top: 30px;
  pointer-events: none;
  user-select: none;
  filter: var(--theme-header-painting-filter);
}

.contentBorder {
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 1;
  width: 80vw;
  height: auto;
  margin-bottom: -1px;
}
