.content {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  padding: 30px 24px 80px 24px;
  margin: 0 auto;
}

@media (min-width: 48rem) {
  .content {
    max-width: 768px;
  }
}

@media (min-width: 62rem) {
  .content {
    max-width: 992px;
  }
}

.posts {
  display: grid;
  grid-template-columns: 1fr;
  row-gap: 60px;
  column-gap: 90px;
  padding: 0px 20px 100px 20px;


}

@media (min-width: 48rem) {
  .posts {
    grid-template-columns: repeat(auto-fill, minmax(20rem, 1fr));
  }
}

.backButtonContainer {
  display: flex;
  justify-content: flex-start;
  margin-bottom: 20px;
}

.titleContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
}

.searchBoxContainer {
  display: flex;
  justify-content: center;
  margin-bottom: 36px;
  padding: 0 12px;
}
